
    .ios, .md {
 
        page-home {
       
          ion-label {
            margin-left: 10px;
          }
       
          ion-item {
            background-color: #ffffff !important;
          }
       
          ion-input, ion-select, ion-textarea {
            background-color: #ffffff;
            padding: 5px 10px;
          }
       
        }
       
      }

